{{#extends 'base'}}
{{#block 'content'}}
<a href='/amenities/create' class='btn btn-primary sm m-3 py-0'>Create New Amenity</a>
<table class='table m-3'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each amenities}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                <a href='/amenities/{{this.id}}/update' class='btn btn-primary btn-sm py-0 m-1'>Update</a>
                <a href='/amenities/{{this.id}}/delete' class='btn btn-danger btn-sm py-0 m-1'>Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}